@import "tailwindcss";

@theme {
  --color-qslc-lime: #BEF264;
  --color-qslc-purple: #C084FC;
  --color-qslc-cyan: #67E8F9;
  --color-qslc-void: #030611;
}

@layer base {
  body {
    @apply bg-[#030611] text-slate-100 antialiased;
  }
}
